name: Validate

on: [push, pull_request]

jobs:
  verify:
    name: Verify setup
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest, ubuntu-latest]
        tinygo: ['0.25.0', '0.26.0', '0.27.0']
    steps:
      - uses: actions/checkout@v2

      - name: setup-tinygo ${{ matrix.tinygo }}
        uses: ./
        with:
          tinygo-version: ${{ matrix.tinygo }}
          binaryen-version: '110'

      - name: Verify version
        run: ./check-version.sh ${{ matrix.tinygo }}
        shell: bash

      - name: Test build
        run: ./test-build.sh
        shell: bash
